<!DOCTYPE html>
<html lang="en">

    <head>

        <%- include('./partials/meta.ejs') %>

        <title><%= title %></title>

        <!-- Header -->
        <%- include('./partials/head.ejs') %>
        <!-- End of Header -->

    </head>

    <body class="bg-gradient-primary">

        <div class="container">
            <a href="forgot-password.ejs"></a>
            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-2">Reset Your Password?</h1>
                                            <% if(typeof message !== 'undefined'){ %>
                                             <div class="text-center">
                                             <div class="reset-message alert alert-warning" style="display:true;"> <%= message %> </div>
                                             </div>
                                            <% }else{ %>
                                             <div class="text-center">
                                             <div class="reset-message alert" style="display:none;"> </div>
                                             </div>
                                            <% } %>
                                         
                                        </div>

                                        
                                    <% if(showForm) { %>

                                        <form id="resetPasswordForm" class="user">
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Password">
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="password" class="form-control form-control-user" id="repeatPassword" name="repeatPassword" placeholder="Repeat Password">
                                                </div>
                                                <input id="emailRp", type='hidden', name='email', value=<%= record.email %>>
                                                <input id="tokenRp", type='hidden', name='token', value=<%= record.token %>>
                                            </div>

                                            <!--  <div class="form-group">
                                                <input type="email" class="form-control form-control-user" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                                              </div> -->
                                            <button type="submit" id="resetButton" class="btn btn-primary btn-user btn-block">
                                                Reset Password
                                            </button>
                                        </form>
                                    <% } %>
                                        <hr>
                                        <div class="text-center">
                                            <a class="small" href="/api/account/authentication/v1/register">Create an Account!</a>
                                        </div>
                                        <div class="text-center">
                                            <a class="small" href="/api/account/authentication/v1/login">Already have an account? Login!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- load-end -->
        <%- include('./partials/load-end.ejs') %>
        <!-- End of load-end -->
        <script>

            $(document).ready(function () {
                $('#resetButton').on('click', function (e) {
                    e.preventDefault();
                 $.post('/api/account/authentication/v1/reset-password', {
                   password: $('#password').val(),
                   repeatPassword: $('#repeatPassword').val(),
                   email: $('#emailRp').val(),
                   token: $('#tokenRp').val()
                 }, function(resp, status) {
                    
                     if (resp.status === 'ok') {
                       $('.reset-message').removeClass('alert-warning').addClass('alert-success').show().text(resp.message);
                       $('#resetPasswordForm').remove();
                     } else {
                        $('.reset-message').removeClass('alert-success').addClass('alert-danger').show().text(resp.message);
                        if(resp.code === 422){
                            $('.reset-message').removeClass('alert-success').addClass('alert-danger').show().text(resp.msg + ', Retry');
                        }
                            
                       }
                    });     

                });
                
                
                

                

            });
            
            
            
            
            

        </script>

    </body>

</html>